<div class="main-content">
  <div class="header bg-secondary-gray">
    <div class="container">
      <div class="header-body text-center mb-3">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h3 class="text-muted">Bem-vindo!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt--7 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <form [formGroup]="signupForm" (submit)="signup(signupForm.value)">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Name" type="text" formControlName="name" required />
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Email" type="email" formControlName="email" required />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Senha" type="password" formControlName="password" required />
                </div>
              </div>

              <div class="text-center">
                <button type="submit" [disabled]="!signupForm.valid" class="btn btn-info my-4">
                  Entrar
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="row mt-3 text-center">
          <div class="col-12">
            <a class="text-gray" href="javascript:void(0)" (click)="navigateToLogin()">
              <small>Login</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>